.post-card {
  width: 100%;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 70px; }
  .post-card:last-child {
    margin-bottom: 100px; }
  .post-card.in-dialog {
    margin: 0;
    padding: 0; }
    .post-card.in-dialog .header .show-user-info {
      float: left;
      width: 90%;
      height: 50px;
      overflow: scroll; }
    .post-card.in-dialog .header .show-exit-btn {
      float: left;
      width: 10%;
      line-height: 50px;
      text-align: center; }
      .post-card.in-dialog .header .show-exit-btn button {
        outline: none;
        border: none;
        background: transparent;
        font-size: 16px; }
  .post-card .header {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px; }
    .post-card .header .show-user-info {
      padding-left: 7px; }
      .post-card .header .show-user-info .show-user-avatar {
        border-radius: 50%;
        width: 50px; }
      .post-card .header .show-user-info .show-user-username {
        color: black;
        text-decoration: none;
        padding-left: 15px; }
        .post-card .header .show-user-info .show-user-username:hover {
          color: gray;
          text-decoration: none; }
  .post-card .show-image .show-image-post {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .post-card .show-image .multiple-image {
    position: relative; }
    .post-card .show-image .multiple-image .fa {
      position: absolute;
      color: white;
      font-size: 25px;
      top: 50%; }
      .post-card .show-image .multiple-image .fa.btn-left-image {
        left: 5px; }
      .post-card .show-image .multiple-image .fa.btn-right-image {
        right: 5px; }
      .post-card .show-image .multiple-image .fa:hover {
        color: darkgray; }
  .post-card .show-tools {
    margin: 0;
    padding: 0;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px; }
    .post-card .show-tools .tools-manager-post-card {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .post-card .show-tools .tools-manager-post-card li {
        margin-left: 7px;
        float: left; }
        .post-card .show-tools .tools-manager-post-card li i {
          font-size: 25px;
          color: black; }
        .post-card .show-tools .tools-manager-post-card li.active i, .post-card .show-tools .tools-manager-post-card li:hover i {
          color: red; }
  .post-card .show-like-count {
    padding-left: 0;
    padding-top: 10px; }
    .post-card .show-like-count button {
      border: none;
      outline: none;
      background: transparent;
      margin-bottom: 0; }
      .post-card .show-like-count button:hover {
        color: darkgray; }
    @media screen and (max-width: 768px) {
      .post-card .show-like-count {
        font-size: 14px;
        padding-top: 4px; } }
  .post-card .more-comment-btn {
    margin-left: 7px;
    margin-top: 15px;
    line-height: 0;
    border: none;
    background: transparent;
    padding-left: 0;
    outline: none; }
    .post-card .more-comment-btn:hover {
      color: darkgray; }
  .post-card .show-comments {
    padding-left: 7px;
    height: 75px;
    overflow: scroll; }
    .post-card .show-comments .comment-row .show-username {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 18px; }
      .post-card .show-comments .comment-row .show-username:hover {
        text-decoration: none;
        color: darkgray; }
    .post-card .show-comments .comment-row .show-comment {
      padding-left: 4px;
      font-size: 16px; }
    @media screen and (max-width: 768px) {
      .post-card .show-comments .comment-row .show-username {
        font-size: 15px; }
      .post-card .show-comments .comment-row .show-comment {
        font-size: 14px; } }
  .post-card .show-post-comment-field .form-post-comment-post {
    padding: 5px 7px; }
    .post-card .show-post-comment-field .form-post-comment-post .post-comment-field {
      padding: 10px 3px;
      border: none;
      border-top: 1px solid #eeeeee;
      outline: none;
      width: 100%; }

/*# sourceMappingURL=postcard-style.css.map */
