@mixin flex(){
    padding: 0;
    margin: 0;
}

.user-info-page{
    & .layout{
        position: relative;
        flex: 1;
        min-height: 90vh;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 5px;
        

        & .row, & ul{
            @include flex();
        }

        & .show-info{
            min-height: 100px;
            & .show-user-avatar{
                & img{
                    width: 100%;
                    border-radius: 50%;
                    border: 1px solid #eeeeee;
                }
            }

            & .show-user-info{
                @include flex();
                padding-left: 15px;
                & .show-user-name.show-btn-edit{
                    width: 100%;
                    & .tools-manager{
                        width: 100%;
                        list-style-type: none;
                        & li {
                            float: left;
                            &.show-username{
                                font-size: 30px;
                                & .fa{
                                    font-size: 25px;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }

                & .show-about-env{
                    width: 100%;
                    margin-top: 15px;
                    & .tools-manager{
                        width: 100%;
                        list-style-type: none;
                        & li {
                            float: left;
                            padding-right: 30px;
                            font-size: 20px;
                            & button {
                                background: transparent;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }

                & .show-status{
                    margin-top: 25px;
                    & h4{
                        font-size: 20px;
                    }
                }
                @media screen and (max-width: 768px) {
                    & .show-user-name.show-btn-edit, & .show-about-env, & .show-status{
                        margin-top: 0;
                    }
                }
            }
            
            @media screen and (max-width: 768px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        & .show-posts{
            position: relative;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 100px;
        }
    }
}

.post-item-mini{
    @include flex();
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    & .child{
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        & .show-value{
            position: relative;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            & .dh-btn{
                @include flex();
                position: absolute;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
                & .show-env{
                    @include flex();
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: none;
                    text-align: center;
                    & p{
                        color: white;
                        line-height: 100%;
                    }
                }
                
                &:hover {
                    & .show-env{
                        display: block;
                    }
                }
            }
        }
    }
}