@mixin flex(){
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    min-height: 100vh;
}

#root{
    min-height: 100vh;
}

#App{
    width: 100%;
    height: 100%;

    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

    #main-layout{
        min-height: 92%;
        background: #fafafa;
        position: absolute;
        right: 0;
        left: 0;
        top: 77px;

    }
    #dialog-field{
        position: absolute;
        display: none;
        width: 0;
        &.show{
            background: rgba(0,0,0,.75);;
            display: block;
            width: 100%;
        }
        
        & .layout{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        & .exit-btn{
            background: transparent;
            float: right;
            margin: 10px 15px;
            border: none;
            outline: none;
            color: white;
            font-size: 30px;
            &:hover{
                color: black;
            }
        }

        & .child{
            position: relative;
            max-width: 600px;
            height: 100%;
            margin: 0 auto;
            // padding-top: 128px;
            @media screen and (max-height: 768px) {
                padding-right: 5px;
                padding-left: 5px;
            }

            & .users-list-field{
                background: white;
                color: black;
                & .header{
                    background: #fafafa;
                    text-align: center;
                    border-bottom: 1px solid #eeeeee;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                & .user-item-users-list-field{
                    @include flex();
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eeeeee;
                    & .show-avatar{
                        float: left;
                        width: 10%;
                        text-align: center;
                        & img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }

                    & .show-username{
                        float: left;
                        width: 70%;
                        & p{
                            font-size: 20px;
                        }
                    }

                    & .show-btn-follow{
                        float: left;
                        width: 20%;
                        & button.btn-follow-user{
                            background: green;
                            outline: none;
                            border: none;
                            line-height: 30px;
                            color: white;
                            text-align: center;
                            min-width: 100px;
                            border-radius: 15px;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                }   
            }
        }
    }
}