.home-page{
    & .layout{
        width: 70%;
        float: right;
        & .show-posts{
            max-width: 660px;
            padding-top: 20px;
            margin: 0 auto;

            @media screen and (max-width: 1200px) and (min-width: 768px){
                max-width: 600px;
            }
        }
    }
    
    & .user-info-page.mobile{
        float: left;
        width: 25%;
        height: 650px;
        margin: 0;
        position: fixed;
        overflow: scroll;
        padding-bottom: 30px;
        padding-top: 20px;
        padding-left: 35px;
        & .layout{
            float: none;
            background: white;
            border: 1px solid #eee;
            width: 100%;
            min-height: 0;
            padding-bottom: 40px;
            & .show-posts.row {
                margin: 0;
                padding: 5px 0px;
                overflow: scroll;
            }
        }

        & .show-info{
            & .show-user-avatar, & .show-user-info{
                float: none;
                width: 100%;
                text-align: center;
                
                & img {
                    width: 50%;
                }

                & ul{
                    & li{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }


        & .post-item-mini{
            & .dh-btn:hover{
                & .show-env{
                    display: none;
                }
            }
        }
    }

    & .show-label-not-exists-user{
        float: left;
        width: 25%;
    }
    
    @media screen and (max-width: 768px){
        & .layout{
            float: none;
            width: 100%;
        }

        & .user-info-page.mobile{
            display: none;
            width: 0;
        }
    }
}