$height-header: 54px;
.new-post-group{
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 5px;
    @mixin flex(){
        margin: 0;
        padding: 0;
    }
    
    & .child-group{
        @include flex();
        min-height: 430px;
        background: white;
        & .header.row{
            @include flex();
            height: 54px;
            background: #fff;
            border-bottom: 1px solid #eeeeee;
            & button{
                font-szie: 20px;
                outline: none;
                border: none;
                background: transparent;
                line-height: $height-header;
            }

            & .show-back-btn{
                float: left;
                width: 10%;
                height: 100%;
                border-right: 1px solid #eeeeee;
                text-align: center;
            }
            
            & .show-title-label{
                float: left;
                width: 80%;
                height: 100%;
                // background: red;
                border-right: 1px solid #eeeeee;
                border-left: 1px solid #eeeeee;
                text-align: center;
                & p{
                    line-height: $height-header;
                    font-size: 20px;
                }
            }
            
            & .show-exit-btn{
                float: left;
                width: 10%;
                height: 100%;
                text-align: center;
            }

            @media screen and (max-width: 551px) {
                & .show-exit-btn{
                    width: 0;
                    display: none;
                }

                & .show-back-btn{
                    width: 15%;
                }

                & .show-title-label{
                    width: 85%;
                }
            }
        }

        & .main-layout{
            height: 376px;
            overflow: scroll;
            @mixin photoItemCharacter(){
                @include flex();
                position: relative;
                padding: 5px;
                text-align: center;
            }

            & input[type=file]{
                width: 0;
                height: 0;
                display: none;
            }

            & #photo-post-group{
                @include photoItemCharacter();
                border: 2px dashed #dddfe2;
                text-align: center;
                & label{
                    width: 100%;
                    font-size: 60px;
                }
            }

            & .post-photo-group{
                @include flex();
                & .photo-item{
                    @include flex();
                    & .child-photo-item{
                        position: relative;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;

                        &:hover{
                            & .btn-remove-group{
                                display: block;
                            }
                        }

                        & .btn-remove-group{
                            & button{
                                position: absolute;
                                right: 0;
                                outline: none;
                                border: none;
                                background: transparent;
                                font-size: 30px;
                                color: white;
                            }
                        }
                    }
                }
            }

            & .post-status-group{

            }            
        }
    }   
}